In [34]:
import numpy as np
import pandas as pd

In [35]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

In [36]:
df_train = pd.read_csv('./data/train.csv')
df_test = pd.read_csv('./data/test.csv')

In [37]:
df_train.head(10)

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280
5,5,-242.792588,-895.466561,386.902498,-510.805138,-1180.632184,-28.182228,428.331871,66.517222,302.471898,-634.322094,-362.741166
6,6,-581.856635,-672.460448,-359.553162,-813.146282,-1726.282602,177.426142,-401.780936,-1630.198347,462.782256,-907.298364,51.945396
7,7,-122.485412,729.090562,128.982911,1139.400685,-1234.825820,402.341641,-684.810091,-870.797149,-578.849665,-311.552532,56.165342
8,8,303.179061,-1165.149841,900.826487,465.662440,-1536.243686,1488.252194,1895.889176,1178.779571,-179.924836,-1070.752622,1054.451727
9,9,539.239367,-403.176947,1222.445070,208.274978,976.639036,356.366397,706.573168,10.500021,1785.870494,126.912093,401.989363

In [38]:
x_train = df_train.iloc[:,2:]
y_train = df_train.y
x_test = df_test.iloc[:,1:]

In [39]:
model = linear_model.LinearRegression()

In [40]:
model.fit(x_train, y_train)

LinearRegression()

In [41]:
y_pred = np.double(model.predict(x_test))
print(y_pred)

[ -66.00242349  451.4065044  -461.67641706 ...  -35.13540942 -131.67918453
  417.26915462]

In [42]:
y_mean = x_test.mean(axis = 1)
print(y_mean)

0       -66.002423
1       451.406504
2      -461.676417
3        40.501209
4      -126.744722
           ...
1995    464.715255
1996    496.485334
1997    -35.135409
1998   -131.679185
1999    417.269155
Length: 2000, dtype: float64

In [43]:
RMSE = mean_squared_error(y_mean, y_pred)**0.5
print(RMSE)

1.0743586812832354e-12

In [44]:
df_sub = pd.read_csv('./data/sample.csv')
id_sub = df_sub.Id
sub = pd.DataFrame({'Id':id_sub, 'y':y_pred})
sub.to_csv('sub.csv', index = False)